<div class="container">

    <div class="page-area ">
        <h2>Home</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil inventore odit exercitationem velit ea eligendi amet, aliquid soluta dicta unde, excepturi porro magnam cum possimus nulla similique alias minima repudiandae!</p>
        <h6 #box>UserName: {{userName}}</h6>
        <button (click)="changeProperty()">Change Sub View Property</button>
        <button (click)="changeMethod()">Change Sub View Method</button>
        <app-view-sub-child></app-view-sub-child>
    </div>
</div>