<div class="container">
    <div class="page-area ">
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil inventore odit exercitationem velit ea eligendi amet, aliquid soluta dicta unde, excepturi porro magnam cum possimus nulla similique alias minima repudiandae!</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-6">
                    <div class="card">
                        <app-card>
                            <h5 class="card-title ">Laptop</h5>
                            <a routerLink="laptop " class="btn btn-primary ">Know More About Laptop</a>
                        </app-card>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <app-card>
                            <h5 class="card-title ">Mobile</h5>
                            <a routerLink="laptop " class="btn btn-primary ">Know More About Mobile</a>
                        </app-card>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <app-card>
                            <h5 class="card-title ">TV</h5>
                            <a routerLink="laptop " class="btn btn-primary ">Know More About TV</a>
                        </app-card>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <app-card>
                            <h5 class="card-title ">Washing MAchine</h5>
                            <a routerLink="laptop " class="btn btn-primary ">Know More About Washing Machine</a>
                        </app-card>
                    </div>
                </div>



            </div>
        </div>
    </div>


</div>