<div class="container">

    <div class="page-area ">
        <h2>Products</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil inventore odit exercitationem velit ea eligendi amet, aliquid soluta dicta unde, excepturi porro magnam cum possimus nulla similique alias minima repudiandae!</p>
    </div>
    <hr mb-3>

    <div class="row">
        <div class="col-md-6">
            <div class="row">

                <div class="col-md-6">
                    <div class="card" style="width: 18rem;" appTest>
                        <img src="../../assets/laptop.jpg" width="200px" height="200px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Laptop</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a routerLink="laptop" class="btn btn-primary">Know More About</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card" style="width: 18rem;" appTest>
                        <img src="../../assets/mobile.jpg" width="200px" height="200px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mobile</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a routerLink="mobile" class="btn btn-primary">Know More About</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="card" style="width: 18rem;" appTest>
                        <img src="../../assets/washingmachine.jpg" width="200px" height="200px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Washing Machine</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a routerLink="washingmachine" class="btn btn-primary">Know More About</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="card" style="width: 18rem;" appTest>
                        <img src="../../assets/tv.jpg" width="200px" height="200px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">TV</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a routerLink="tv" class="btn btn-primary">Know More About</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-6">
            <router-outlet></router-outlet>
        </div>





    </div>

</div>