<div class="container">

    <div class="page-area ">
        <h2>Behaviour Subject</h2>
        <!-- <h4>Username:{{name}}</h4> -->
        <div class="row">

            <div class="col-md-6">
                <div class="card">
                    <app-component1></app-component1>
                </div>
            </div>



            <div class="col-md-6">
                <div class="card">
                    <app-component2></app-component2>
                </div>
            </div>


            <div class="col-md-6">
                <div class="card">
                    <app-component3></app-component3>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <app-component4></app-component4>
                </div>
            </div>



        </div>

    </div>
</div>