<div class="container">
    <div class="col-md-4">
        <select (change)="getProductValue($event)">
            <option value="default" >Selected Product</option>
      <option value="Laptop" >Laptop</option>
      <option value="TV">TV</option>
      <option value="Mobile">Mobile</option>
      <option value="WashingMachine">WashingMAchine</option>
    </select>
    </div>
    <div class="col-md-12" [ngSwitch]="selectedValue">
        <h2 *ngSwitchDefault>Please select any Product</h2>
        <h2 *ngSwitchCase="'Laptop'">Laptop</h2>
        <h2 *ngSwitchCase="'TV'">TV</h2>
        <h2 *ngSwitchCase="'Mobile'">Mobile</h2>
        <h2 *ngSwitchCase="'WashingMachine'">WashingMachine</h2>
    </div>
</div>